version: "3.7"

services:
  api:
    image: python:3.8.2-buster
    ports:
      - 5000:5000
    environment:
      FLASK_DEBUG: 0
      FLASK_APP: ./src/app.py
      AWS_ACCESS_KEY_ID: minio
      AWS_SECRET_ACCESS_KEY: minio123
      AWS_S3_ENDPOINT_URL: http://storage:9000
      AWS_S3_PUBLIC_URL: http://localhost:9000
      DSN: mysql://testuser:testpass@db:3306
  db:
      image: mysql:8.0.21
      command: --default-authentication-plugin=mysql_native_password
      ports:
          - 3306:3306
      volumes:
          - ./db/data:/var/lib/mysql
      environment:
          MYSQL_ROOT_PASSWORD: rootpass
          MYSQL_USER: testuser
          MYSQL_PASSWORD: testpass
          MYSQL_DATABASE: app
  storage:
    image: minio/minio:RELEASE.2020-08-05T21-34-13Z
    volumes:
      - ./storage:/data
    ports:
      - 9000:9000
    environment:
      MINIO_ACCESS_KEY: minio
      MINIO_SECRET_KEY: minio123
    command: server /data
